# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as sts

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [8]:
# Your code here:

pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [10]:
pokemon.shape

(800, 13)

In [12]:
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [14]:
pokemon.nunique()

#             721
Name          800
Type 1         18
Type 2         18
Total         200
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [17]:
# Your code here:
n_legendary = pokemon[pokemon["Legendary"] == True]
n_regular = pokemon[pokemon["Legendary"] == False]

In [19]:
n_legendary["Name"].value_counts().count()

65

In [21]:
n_regular["Name"].value_counts().count()

735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [24]:
# Your code here:
t_legendary = pokemon[pokemon["Legendary"] == True]["Total"]
t_regular = pokemon[pokemon["Legendary"] == False]["Total"]
t_legendary.agg(["mean", "std"])

mean    637.384615
std      60.937389
Name: Total, dtype: float64

In [26]:
# Your code here:
t_regular.agg(["mean", "std"])

mean    417.213605
std     106.760417
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [29]:
# Your code here:
t_stat, p_value = sts.ttest_ind(t_legendary, t_regular, equal_var=False)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean total points for legendary and regular pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points are different for legendary and regular pokemons.")

Test Statistic (t): 25.83
P-Value: 0.00000000000000000000000000000000000000000000009358

Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points are different for legendary and regular pokemons.

What do you conclude from this test? Write your conclusions below.

### Your conclusions here:
This test allows us to **reject** the hypotesis that legendary and regular pokemons have similar distributions of Total points.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [34]:
# Your code here:
pokemon["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [37]:
# Your code here:
# Again, I going to use "Total" to get distributions for both groups:

water = pokemon[pokemon["Type 1"] == "Water"]["Total"]
other = pokemon[pokemon["Type 1"] != "Water"]["Total"]

In [39]:
water.agg(["mean", "std"])

mean    430.455357
std     113.188266
Name: Total, dtype: float64

In [41]:
other.agg(["mean", "std"])

mean    435.859012
std     121.091682
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [44]:
# Your code here:
t_stat, p_value = sts.ttest_ind(water, other, equal_var=True)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean total points for water pokemons and all other pokemons are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the mean total points are different between water pokemons and non-water pokemons.")

Test Statistic (t): -0.44
P-Value: 0.6587

Fail to Reject the Null Hypothesis: The mean total points for water pokemons and all other pokemons are not significantly different.

Write your conclusion below.

### Your conclusions here:

In this case, even though "Water" is the largest group of Pokemon, the mean total points of Water pokemon is not signifficantly different from the mean total points of all other pokemon types.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [49]:
# Your code here:
import scipy.stats as sts
defense = pokemon["Defense"]
attack = pokemon["Attack"]

In [51]:
t_stat, p_value = sts.ttest_rel(attack, defense)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")
print()

t_stat_rel = t_stat

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between the defense and attack scores.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between the defense and attack scores.")

Test Statistic (t): 4.33
P-Value: 0.000017

Reject the Null Hypothesis: There is a significant difference between the defense and attack scores.

Describe the results of the test in the cell below.

### Your conclusions here:

The p-value is lower that our alpha (signifficance level), and therefore we can be 95% confident in rejecting the hypothesis that the means of defense and attact scores are equal.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [56]:
# Your code here:
sp_defense = pokemon["Sp. Def"]
sp_attack = pokemon["Sp. Atk"]

In [58]:
t_stat, p_value = sts.ttest_rel(sp_defense, sp_attack)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")
print()

alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between the special defense and special attack scores.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between the special defense and special attack scores.")

Test Statistic (t): -0.85
P-Value: 0.393369

Fail to Reject the Null Hypothesis: No significant difference between the special defense and special attack scores.

Describe the results of the test in the cell below.

### Your conclusions here:

Even though there is a statistically significant difference between the means of defense and attact scores, we can't say the same is tru for the special defense and attack scores. 
This is indicative that "special" abilities are more balanced in terms of defense and attack than "regular" pokemon abilities, for which the defense and attack scores' distributions are not the same.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [63]:
atk_def = attack - defense

In [65]:
# Your code here:
t_stat, p_value = sts.ttest_1samp(atk_def, 0)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")
print()

t_stat_1samp = t_stat

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between the defense and attack scores.")
else:
    print("Reject the Null Hypothesis: There is a significant difference between the defense and attack scores.")

Test Statistic (t): 4.33
P-Value: 0.000017

Reject the Null Hypothesis: There is a significant difference between the defense and attack scores.

In [67]:
t_stat_rel == t_stat_1samp

True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [70]:
# Your code here:
pokemon["Type 1"] = pokemon['Type 1'].apply(lambda x: x if x == "Water" else "Other")
legendary_type1 = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'])
legendary_type1

Type 1     Other  Water
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [73]:
# Your code here:
from scipy.stats import chi2_contingency
_, chi2_pvalue, _, _  = chi2_contingency(legendary_type1)
print(f"Chi-squared p-value: {chi2_pvalue:.4f}")
print() 

alpha = 0.05

if chi2_pvalue > alpha:
    print("Fail to Reject the Null Hypothesis: No significant relationship between the ´Legendary´ and the ´Type 1´ categories of pokemon.")
else:
    print("Reject the Null Hypothesis: There is a significant relationship between the ´Legendary´ and the ´Type 1´ categories of pokemon.")

Chi-squared p-value: 0.0863

Fail to Reject the Null Hypothesis: No significant relationship between the ´Legendary´ and the ´Type 1´ categories of pokemon.

Based on a 95% confidence, should we reject the null hypothesis?

### Your answer here:

No, based on a 95% confidence, we should not reject the null hypothesis. The variables "Legendary" and "Type 1" are independent.